.font-party{ overflow: auto; width: 100%; }
.font-party-element{
  float: left;
  width: 30px;
  height: 60px;
  background-image: url(font-party.gif);
}
.font-party-char-65{background-position: -0px -0px;}
.font-party-char-66{background-position: -30px -0px;}
.font-party-char-67{background-position: -60px -0px;}
.font-party-char-68{background-position: -90px -0px;}
.font-party-char-69{background-position: -120px -0px;}
.font-party-char-70{background-position: -150px -0px;}
.font-party-char-71{background-position: -180px -0px;}
.font-party-char-72{background-position: -210px -0px;}
.font-party-char-73{background-position: -240px -0px;}
.font-party-char-74{background-position: -270px -0px;}
.font-party-char-75{background-position: -0px -60px;}
.font-party-char-76{background-position: -30px -60px;}
.font-party-char-77{background-position: -60px -60px;}
.font-party-char-78{background-position: -90px -60px;}
.font-party-char-79{background-position: -120px -60px;}
.font-party-char-80{background-position: -150px -60px;}
.font-party-char-81{background-position: -180px -60px;}
.font-party-char-82{background-position: -210px -60px;}
.font-party-char-83{background-position: -240px -60px;}
.font-party-char-84{background-position: -270px -60px;}
.font-party-char-85{background-position: -0px -120px;}
.font-party-char-86{background-position: -30px -120px;}
.font-party-char-88{background-position: -60px -120px;}
.font-party-char-89{background-position: -90px -120px;}
.font-party-char-90{background-position: -120px -120px;}
.font-party-char-97{background-position: -0px -180px;}
.font-party-char-98{background-position: -30px -180px;}
.font-party-char-99{background-position: -60px -180px;}
.font-party-char-100{background-position: -90px -180px;}
.font-party-char-101{background-position: -120px -180px;}
.font-party-char-102{background-position: -150px -180px;}
.font-party-char-103{background-position: -180px -180px;}
.font-party-char-104{background-position: -210px -180px;}
.font-party-char-105{background-position: -240px -180px;}
.font-party-char-106{background-position: -270px -180px;}
.font-party-char-107{background-position: -0px -240px;}
.font-party-char-108{background-position: -30px -240px;}
.font-party-char-109{background-position: -60px -240px;}
.font-party-char-110{background-position: -90px -240px;}
.font-party-char-111{background-position: -120px -240px;}
.font-party-char-112{background-position: -150px -240px;}
.font-party-char-113{background-position: -180px -240px;}
.font-party-char-114{background-position: -210px -240px;}
.font-party-char-115{background-position: -240px -240px;}
.font-party-char-116{background-position: -270px -240px;}
.font-party-char-117{background-position: -0px -300px;}
.font-party-char-118{background-position: -30px -300px;}
.font-party-char-119{background-position: -60px -300px;}
.font-party-char-120{background-position: -90px -300px;}
.font-party-char-121{background-position: -120px -300px;}
.font-party-char-122{background-position: -150px -300px;}
.font-party-char-49{background-position: -0px -360px;}
.font-party-char-50{background-position: -30px -360px;}
.font-party-char-51{background-position: -60px -360px;}
.font-party-char-52{background-position: -90px -360px;}
.font-party-char-53{background-position: -120px -360px;}
.font-party-char-54{background-position: -150px -360px;}
.font-party-char-55{background-position: -180px -360px;}
.font-party-char-56{background-position: -210px -360px;}
.font-party-char-57{background-position: -240px -360px;}
.font-party-char-48{background-position: -270px -360px;}
.font-party-char-32{background-position: -0px -420px;}
.font-party-char-46{background-position: -30px -420px;}
.font-party-char-44{background-position: -60px -420px;}
.font-party-char-59{background-position: -90px -420px;}
.font-party-char-58{background-position: -120px -420px;}
